*.dvi
*.aux
*.log
*~
*.fdb_latexmk
*.aux
*.fls
*.tps
*.synctex.gz
*.backup
*.bbl
*.blg
*.pdf
*.zip
*.ps
bin/
libs/
obj/
*.toc
.metadata/
*.jpg
Debug/
ipch/
Release/
*.txt
*.exe
*.tlog
*.sdf
*.suo
*.xlsx
*.csv
